{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
  Is '{{ data['applicant-firstName'] }} {{ data['applicant-lastName'] }}' exactly how your name is written in the will or any codicils? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/applicant-name_answer" method="post" novalidate>

      <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper govuk-!-padding-bottom-4">
          <label class="govuk-label govuk-label--l" for="sameName">
            Check the original will and codicils now
          </label>
        </h1>

        <p class="govuk-body">
          We need to know if your name is written differently in the will or any codicils.
        </p>

        <p class="govuk-body">This could be because:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you changed your name after the will was made</li>
            <li>part of your name was not included in the will</li>
            <li>there was a spelling mistake in the will</li>
            <li>you’re also known by a different name</li>
          </ul>

        <p class="govuk-body">
          If there is a difference, you’ll be able to tell us why later.
        </p>

        <div class="govuk-form-group govuk-!-padding-top-4">
          <fieldset class="govuk-fieldset" aria-describedby="sameName-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Is '{{ data['applicant-firstName'] }} {{ data['applicant-lastName'] }}' exactly how your name is written in the will or any codicils?
              </h2>
            </legend>

            <div class="govuk-radios govuk-radios--inline govuk-!-padding-bottom-4" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sameName" name="sameName" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="sameName">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="samedName-2" name="sameName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="samedName-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Conact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
