{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
  Executors named in the will and any codicils – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/other-executors_3" method="post">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-l govuk-!-padding-bottom-4">
            Executors named in the will and any codicils
        </h1>

        <dl class="govuk-summary-list">
                
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-font-weight-bold">
                Executor (you)
              </dt>
              <dd class="govuk-summary-list__value">{{ data['applicant-willName'] }}</dd>
              <dd class="govuk-summary-list__actions"> </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-font-weight-bold">
              Executor
            </dt>
            <dd class="govuk-summary-list__value">{{ data['executor2-willName'] }}</dd>
            <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Remove</a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-font-weight-bold">
            Executor
          </dt>
          <dd class="govuk-summary-list__value">{{ data['executor3-willName'] }}</dd>
          <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Remove</a></dd>
      </div>

      </dl>

      <div class="govuk-form-group govuk-!-padding-top-4">
        <fieldset class="govuk-fieldset" aria-describedby="3otherExecutors-hint">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="3otherExecutors">
              Are there any other executors named?
            </label>
          </h1>

          <p class="govuk-body">You must make sure to include every executor named in the will and any codicils, including anyone who:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>has died</li>
              <li>is not applying for probate</li>
              <li>has given up their right to apply</li>
            </ul>

          <p class="govuk-body">
            You’ll be able to tell us more about each executor later.
          </p>

          <div class="govuk-radios govuk-radios--inline govuk-!-padding-bottom-4" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="3otherExecutors" name="3otherExecutors" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="3otherExecutors">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="3otherExecutors-2" name="3otherExecutors" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="3otherExecutors-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Conact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
