{% extends "layouts/navigation.html" %}

{% block pageTitle %}
  Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ serviceName }}</h1>

      <p class="govuk-body">Complete these steps to get the legal right to deal with the property and belongings of someone who has died.</p>

      <p class="govuk-body">You can save your application and return to it later if you need to.</p>

      <p class="govuk-body">At the end of each section you will be required to check your answers. If any are incorrect you will have the opportunity to change them before proceeding to the next section. Once you have made your legal declaration, any amendments you want to make to your application after that time will have to be sent in writing to the registry.</p>

      <h2 class="govuk-heading-m">1. Check before you start</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Not yet started",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set unavailableStatus = {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Check eligibility"
            },
            status: completedStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">2. Prepare application</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Tell us about the person who has died"
            },
            href: "CYA-deceased.html",
            status: completedStatus
          },
          {
            title: {
              text: "Give details about the people applying"
            },
            href: "applicant-name",
            status: incompleteStatus
          },
          {
            title: {
              text: "Check your answers and make your legal declaration"
            },
            status: unavailableStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">3. Submit application</h2>

      {{ govukTaskList({
        idPrefix: "third-section",
        items: [
          {
            title: {
              text: "Pay and submit your application"
            },
            status: unavailableStatus
          }
        ]
      }) }}

      <details class="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Conact us for help
          </span>
        </summary>

        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Webchat</h3>
            <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
          <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">0300 303 0648</p>
          <h3 class="govuk-heading-s">Email</h3>
            <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
          <br>
          <h3 class="govuk-heading-s">Opening times</h3>
          <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
          <h3 class="govuk-heading-s">Webchat</h3>
            <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
          <br>
          <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
        </div>
        
      </details>

    </div>
  </div>
{% endblock %}
