{% extends "layouts/sign_in.html" %}

{% block pageTitle %}
Find out if you need to report the estate value to HMRC - Apply for probate – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Check if you can apply online
      </span>
      <h1 class="govuk-heading-l">
        Find out if you need to report the estate value to HMRC
      </h1>

      <form class="form" action="#" method="post">

        <p class="govuk-body govuk-!-padding-bottom-4">
          You can use the <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Inheritance Tax checker (opens in a new tab)</a> to find out if you need to report the value of the estate to HMRC.
        </p>

        <details class="govuk-details">

          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contact us for help
            </span>
          </summary>
    
          <div class="govuk-details__text">
            <h3 class="govuk-heading-s">Webchat</h3>
              <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
            <h3 class="govuk-heading-s">Telephone</h3>
              <p class="govuk-body">0300 303 0648</p>
            <h3 class="govuk-heading-s">Email</h3>
              <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
            <br>
            <h3 class="govuk-heading-s">Opening times</h3>
            <h3 class="govuk-heading-s">Telephone</h3>
              <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
            <h3 class="govuk-heading-s">Webchat</h3>
              <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
            <br>
            <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
          </div>
          
        </details>

      </form>

    </div>
  </div>

{% endblock %}