{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
Which executors have died? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="executor-applying" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="select-deceasedExecutors-hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
              Which executors have died?
            </h1>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

{% if data['executor2-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors" name="select-deceasedExecutors" type="checkbox" value="executor2"
                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor2') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors">
{{ data['executor2-willName'] }}
</label>
</div>
{%endif %}


{% if data['executor3-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-3" name="select-deceasedExecutors" type="checkbox" value="executor3"

                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor3') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-3">
{{ data['executor3-willName'] }}
</label>
</div>
{%endif %}


{% if data['executor4-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-4" name="select-deceasedExecutors" type="checkbox" value="executor4"

                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor4') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-4">
{{ data['executor4-willName'] }}
</label>
</div>
{%endif %}


{% if data['executor5-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-5" name="select-deceasedExecutors" type="checkbox" value="executor5"
                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor5') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-5">
{{ data['executor5-willName'] }}
</label>
</div>
{%endif %}

{% if data['executor6-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-6" name="select-deceasedExecutors" type="checkbox" value="executor6"
                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor6') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-6">
{{ data['executor6-willName'] }}
</label>
</div>
{%endif %}


{% if data['executor7-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-7" name="select-deceasedExecutors" type="checkbox" value="executor7"
                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor7') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-7">
{{ data['executor7-willName'] }}
</label>
</div>
{%endif %}

{% if data['executor8-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-8" name="select-deceasedExecutors" type="checkbox" value="executor8"
                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor8') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-8">
{{ data['executor8-willName'] }}
</label>
</div>
{%endif %}

{% if data['executor9-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-9" name="select-deceasedExecutors" type="checkbox" value="executor9"
                {% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor9') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-9">
{{ data['executor9-willName'] }}
</label>
</div>
{%endif %}

{% if data['executor10-willName'] %}
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-deceasedExecutors-10" name="select-deceasedExecutors" type="checkbox" value="executor10" 
{% if data['select-deceasedExecutors'] and data['select-deceasedExecutors'].includes('executor10') %}checked{% endif %}>
<label class="govuk-label govuk-checkboxes__label" for="select-deceasedExecutors-10">
{{ data['executor10-willName'] }}
</label>
</div>
{%endif %}

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
