{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
  Executors applying for probate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="executor-name_match" method="post" novalidate>

      <div class="govuk-form-group">

        <h1 class="govuk-heading-l">
            Executors applying for probate
        </h1>

        <p class="govuk-body">
          Up to 4 executors, including yourself, can be named on the application and the grant of probate.
        </p>

        <p class="govuk-body">All executors will be given the legal right to deal with Jane Elizabeth Doe’s estate. This includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>collecting the estate’s assets (property, money and possessions)</li>
            <li>paying any taxes and debts</li>
            <li>distributing what is left to the people entitled to it (the ‘beneficiaries’)</li>
          </ul>

        <p class="govuk-body">
          We will contact the other executors and ask them to check the information you have provided in this application and confirm that it is correct.
        </p>

        <details class="govuk-details">

          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If an executor does not want to apply
            </span>
          </summary>

          <div class="govuk-details__text">
            <p class="govuk-body">If any executor does not want to deal with the estate, they will have to either:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>reserve the right to apply later – this is known as holding ‘power reserved’ and they will have to inform you of this in writing</li>
                <li>permanently give up their right to apply – this is known as ‘renunciation’ and they will have to fill in a form to do this</li>
              </ul>
          </div>

        </details>

        <div class="govuk-form-group govuk-!-padding-bottom-7">
          <fieldset class="govuk-fieldset" aria-describedby="select-applyingExecutors-hint">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Which executors are also applying for probate?
              </h1>
            </legend>
  
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
   
 {% set deceased = data['select-deceasedExecutors'] or [] %}

<div class="govuk-checkboxes" data-module="govuk-checkboxes">

  {# executor2 #}
  {% if data['executor2-willName'] and not deceased.includes('executor2') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-2"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor2">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-2">
        {{ data['executor2-willName'] }}
      </label>
    </div>
  {% endif %}




  {# executor3 #}
  {% if data['executor3-willName'] and not deceased.includes('executor3') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-3"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor3">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-3">
        {{ data['executor3-willName'] }}
      </label>
    </div>
  {% endif %}

  {# executor4 #}
  {% if data['executor4-willName'] and not deceased.includes('executor4') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-4"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor4">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-4">
        {{ data['executor4-willName'] }}
      </label>
    </div>
  {% endif %}

  {# executor5 #}
  {% if data['executor5-willName'] and not deceased.includes('executor5') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-5"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor5">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-5">
        {{ data['executor5-willName'] }}
      </label>
    </div>
  {% endif %}

      {# executor6 #}
  {% if data['executor6-willName'] and not deceased.includes('executor6') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-6"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor6">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-6">
        {{ data['executor6-willName'] }}
      </label>
    </div>
  {% endif %}

    {# executor7 #}
  {% if data['executor7-willName'] and not deceased.includes('executor7') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-7"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor7">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-7">
        {{ data['executor7-willName'] }}
      </label>
    </div>
  {% endif %}

      {# executor8 #}
  {% if data['executor8-willName'] and not deceased.includes('executor8') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-8"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor8">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-8">
        {{ data['executor8-willName'] }}
      </label>
    </div>
  {% endif %}

      {# executor9 #}
  {% if data['executor9-willName'] and not deceased.includes('executor9') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-9"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor9">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-9">
        {{ data['executor9-willName'] }}
      </label>
    </div>
  {% endif %}


      {# executor10 #}
  {% if data['executor10-willName'] and not deceased.includes('executor10') %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input"
             id="select-applyingExecutors-10"
             name="select-applyingExecutors"
             type="checkbox"
             value="executor10">
      <label class="govuk-label govuk-checkboxes__label" for="select-applyingExecutors-10">
        {{ data['executor10-willName'] }}
      </label>
    </div>
  {% endif %}

</div>

              
            </div>
          </fieldset>
        </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0748</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
