{% extends "layouts/co-applicant+back_link.html" %}

{% block pageTitle %}
Check the legal statement and make your declaration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-width-container">

      <form action="/declaration-answer" method="post" novalidate>

    <!-- Left panel -->

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          
            <h1 class="govuk-heading-l">
              Check the legal statement and make your declaration
            </h1>

            <p class="govuk-body">
              This statement is based on the information Max Mustermann has given in their application. It will be stored as a public record.
            </p>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation" style="border-color: 	#b1b4b6; border-width: 2px; background-color: 		#f3f2f1;">
            
            <div style="text-align: center;">
              <h2 class="govuk-heading-m">
                In the High Court of Justice
              </h2>
              <h3 class="govuk-heading-s">
                Family Division
                <br>
                (Intestacy)
              </h3>
            </div>

            <div class="govuk-!-padding-top-4" style="text-align: left;">

              <h4 class="govuk-heading-m">
                Legal statement
              </h4>

              <p class="govuk-body">
                We, Max Mustermann, of 3 High Street, London SW11 6AA, and EXAMPLE NAME, of 76 Main Avenue, London, SW13 2LH, make the following statement:
              </p>

              <h5 class="govuk-heading-s">
                The person who died
              </h5>
              <p class="govuk-body">
                That Erika Mustermann, died on 29 November 2024 intestate.
              </p>
              <p class="govuk-body">
                They were never married and domiciled in England and Wales.
              </p>
              <p class="govuk-body">
                No children under 18 are entitled to the estate.
              </p>

              <h6 class="govuk-heading-s">
                The estate of the person who died
              </h6>
              <p class="govuk-body">
                The gross value for the estate amounts to £265000.00 and the net value for the estate amounts to £245000.00.
              </p>
              <!--
              <p class="govuk-body">
                We confirm that the estate is an excepted estate.
              </p>
              -->
              <p class="govuk-body">
                To the best of our knowledge, information and belief, there was no land vested in Erika Mustermann which was settled previously to the death of Erika Mustermann and which remained settled land notwithstanding such death.
              </p>

              <h7 class="govuk-heading-s">
                People applying for probate
              </h7>
              <p class="govuk-body">
                Max Mustermann, the child of Erika Mustermann, is applying for probate.
              </p>
              <p class="govuk-body">
                EXAMPLE NAME, the child of Erika Mustermann, is also applying for probate.
              </p>
              <p class="govuk-body">
                We are some of the people now entitled to a share in the estate.
              </p>
              <p class="govuk-body">
                We are applying for letters of administration. We have provided what we believe to be true and accurate information about Erika Mustermann.
              </p>

              <h8 class="govuk-heading-m">
                Declaration
              </h8>

              <p class="govuk-body">We confirm that we will administer the estate of Erika Mustermann according to law. We will:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>collect the whole estate</li>
                  <li>keep full details (an inventory) of the estate</li>
                  <li>keep a full account of how the estate has been administered</li>
                </ul>

              <p class="govuk-body">If the probate registry (court) asks us to do so, we will:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>provide the full details of the estate and how it has been administered</li>
                  <li>return the letters of administration to the court</li>
                </ul>
              
              <p class="govuk-body">We understand that:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>our application will be rejected if we do not answer any questions about the information we have given</li>
                  <li>proceedings for contempt of court may be brought against the undersigned if it is found that the evidence provided is deliberately untruthful or dishonest, as well as revocation of the grant</li>
                </ul>

            </div>

          </div>

          <div class="govuk-form-group govuk-!-padding-top-4">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h9 class="govuk-fieldset__heading">
                  Do you agree with this information?
                </h9>
              </legend>

              <p class="govuk-body">
                If you are not sure about any of the information in the legal statement, you should contact Max Mustermann before you continue.
              </p>

              <p class="govuk-body">
                By agreeing, you confirm that you will administer Erika Mustermann’s estate according to law, and that your application is truthful.
              </p>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="declaration" name="declaration" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="declaration">
                    Yes, I agree that the information is correct
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="declaration-2" name="declaration" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="declaration-2">
                    No, something is wrong with the information
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-warning-text govuk-!-padding-top-2">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              Once everyone has agreed the legal statement and made their declaration, this information cannot be changed.
            </strong>
          </div>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Submit your response"
          }) }}

          <details class="govuk-details">

            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Contact us for help
              </span>
            </summary>

            <div class="govuk-details__text">
              <h3 class="govuk-heading-s">Webchat</h3>
                <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
              <h3 class="govuk-heading-s">Telephone</h3>
                <p class="govuk-body">0300 303 0648</p>
              <h3 class="govuk-heading-s">Email</h3>
                <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
              <br>
              <h3 class="govuk-heading-s">Opening times</h3>
              <h3 class="govuk-heading-s">Telephone</h3>
                <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
              <h3 class="govuk-heading-s">Webchat</h3>
                <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
              <br>
              <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
            </div>

        </details>

        </div>

      <!-- Right panel -->

      <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m">
          Save this page
        </h3>

        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">
            Legal declaration (30kb PDF)
          </a>
        </p>
    
      </div> 

    </form>

    </div> 
</div>

{% endblock %}
