
{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <div>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <p class="govuk-body">
    Check the information below carefully. This will form a record of your application for probate. It will also be stored as a public record, and will be able to be viewed online.
    </p>

    <h2 class="govuk-heading-m">About the person who died</h2>

    <dl class="govuk-summary-list">


      <!-- What is the full name of the person who died?  -->

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular  govuk-!-width-one-half">
          What is the full name of the person who died?
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/deceased-name">Change</a></dd>
        </div>

<!-- What was deceased’s date of birth?  -->

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
        What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s date of birth?
        </dt>
        <dd class="govuk-summary-list__value">{{ data['deceased-DOB-day'] }}/{{ data['deceased-DOB-month'] }}/{{ data['deceased-DOB-year'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="person_who_died/deceased-DOB">Change</a></dd>
        </div>

        <!-- What was the date that the deceased died?  -->

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
        What was the date that {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} died?
        </dt>
        <dd class="govuk-summary-list__value">{{ data['deceased-DOD-day'] }}/{{ data['deceased-DOD-month'] }}/{{ data['deceased-DOD-year'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/deceased-DOD">Change</a></dd>
        </div>

 <!-- Did Apple Pie die in England or Wales?  -->

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
        Did {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} die in England or Wales?
        </dt>
        <dd class="govuk-summary-list__value">
        {{ data['placeofdeath'] }}
        </dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/deceased-DOD">Change</a></dd>
        </div>



<!-- What was Apple Pie's marital status? 
option 1: Married or in a civil partnership
option 2: Divorced or had ended their civil partnership
option 3: Legally separated
option 4: Widowed or surviving civil partner 
option 5: Never married or never in a civil partnership  -->




<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
    What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s marital status?
  </dt>
  <dd class="govuk-summary-list__value">{{ data['deceased-marital_status'] }}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/deceased-marital_status">Change</a></dd>
</div>


<!-- option 1: Married or in a civil partnership -->


  {% if data['alive spouse name'] %}

    <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
    What is {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s husband's, wife's or civil partner's name? 
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['alive spouse name'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="person_who_died/spouse-name">Change</a>
    </dd>
    </div>

  {% endif %}


<!-- option 2: Divorced or had ended their civil partnership -->


  {% if data['divorceJurisdiction-answer'] %}
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
  Did the divorce or dissolution take place in England or Wales?
  </dt>
  <dd class="govuk-summary-list__value">{{ data['divorceJurisdiction-answer'] }}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/divorce_jurisdiction">Change</a></dd>
  </div>
  {% endif %}


  
  {% if data['divorce_date-answer'] === "No, I do not know the date" %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      Do you know the date the divorce or dissolution took place?
    </dt>
    <dd class="govuk-summary-list__value">{{ data['divorce_date-answer'] }}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/divorce_date">Change</a></dd>
  </div>
  {%endif %}
  
  {% if data['divorce_date-day'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      Date of divorce or dissolution
    </dt>
    <dd class="govuk-summary-list__value">{{ data['divorce_date-day'] }}/{{ data['divorce_date-month'] }}/{{ data['divorce_date-year'] }}</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/divorce_date">Change</a></dd>
  </div>
  {%endif %}


  <!-- option 3: Legally separated -->


  {% if data['separationJurisdiction-answer'] %}
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
  Did the legal separation take place in England or Wales?
  </dt>
  <dd class="govuk-summary-list__value">{{ data['separationJurisdiction-answer'] }}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/separation_jurisdiction">Change</a></dd>
  </div>
  {% endif %}

  {% if data['separation_date-answer'] === "No, I do not know the date" %}
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
  Do you know the date the legal separation took place?
  </dt>
  <dd class="govuk-summary-list__value">{{ data['separation_date-answer'] }}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/separation_date">Change</a></dd>
  </div>
  {%endif %}

  {% if data['separation_date-day'] %}
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
  Date of legal separation
  </dt>
  <dd class="govuk-summary-list__value">{{ data['separation_date-day'] }}/{{ data['separation_date-month'] }}/{{ data['separation_date-year'] }}</dd>
  <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="person_who_died/separation_date">Change</a></dd>
  </div>
  {%endif %}



  <!-- option 4: Widowed or surviving civil partner  -->


  {% if data['deceased spouse name'] %}

    <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
    What is {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s husband's, wife's or civil partner's name? 
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['deceased spouse name'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="person_who_died/spouse-name">Change</a>
    </dd>
    </div>

  {% endif %}



  <!-- married or civil partnership after will was signed  -->


 {% if data['will-timing'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
    Did {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} get married or form a civil partnership after the will was signed? 
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['will-timing'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="person_who_died/will-timing">Change</a>
    </dd>
    </div>
{%endif %}




 {% if data['2otherExecutors'] %}
 <h1 class="govuk-heading-m govuk-!-margin-top-9">The executors</h1>

<!-- executors named -->


 {% if data['2otherExecutors'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">

Are there any other executors named?

    </dt>

    <dd class="govuk-summary-list__value">
Yes
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/executor-summary_2.html">Change</a>
    </dd>
    </div>
{%endif %}


 {% if data['executorName'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">

Executors named

    </dt>

    <dd class="govuk-summary-list__value">

          {% if data['executor2-willName'] %}
    <p>{{ data['executor2-willName'] }}</p>
    {%endif %}
    
    {% if data['executor3-willName'] %}
    <p>{{ data['executor3-willName'] }}</p>
    {%endif %}


    {% if data['executor4-willName'] %}
    <p>{{ data['executor4-willName'] }}</p>
    {%endif %}


    {% if data['executor5-willName'] %}
    <p>{{ data['executor5-willName'] }}</p>
    {%endif %}

        {% if data['executor6-willName'] %}
    <p>{{ data['executor6-willName'] }}</p>
    {%endif %}


    {% if data['executor7-willName'] %}
    <p>{{ data['executor7-willName'] }}</p>
    {%endif %}

      {% if data['executor8-willName'] %}
    <p>{{ data['executor8-willName'] }}</p>
    {%endif %}

      {% if data['executor9-willName'] %}
    <p>{{ data['executor9-willName'] }}</p>
    {%endif %}

    {% if data['executor10-willName'] %}
    <p>{{ data['executor10-willName'] }}</p>
    {%endif %}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/executor-summary_2.html">Change</a>
    </dd>
    </div>

{%endif %}


{% if data['deceasedExecutors'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
Have any of the executors died since the will was signed?

    </dt>

    <dd class="govuk-summary-list__value">
{{ data['deceasedExecutors'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/deceased-executors.html">Change</a>
    </dd>
    </div>
{%endif %}


{% if data['deceasedExecutors'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">

Which executors have died?


    </dt>

    <dd class="govuk-summary-list__value">


  {% for id in (data['select-deceasedExecutors'] or []) %}
    {{ data[id ~ '-willName'] or id }}<br>
  {% endfor %}


    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/deceased-executors_select.html">Change</a>
    </dd>
    </div>



{% if data['deceasedExecutors'] %}

   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">

    Did   {% for id in (data['select-deceasedExecutors'] or []) %}
    {{ data[id ~ '-willName'] or id }}
  {% endfor %}
  
  die before {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}?


    </dt>

    <dd class="govuk-summary-list__value">


{{ data['deceasedExecutor2'] }}


    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/deceased-executors_select.html">Change</a>
    </dd>
    </div>





{%endif %}

    
{%endif %}



{% if data['not-applyingReason2'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
Why is Deborah Elizabeth Mustermann not applying for probate? 

    </dt>

    <dd class="govuk-summary-list__value">
{{ data['not-applyingReason2'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/deceased-executors.html">Change</a>
    </dd>
    </div>
{%endif %}


{% if data['powerReserved'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
Have you notified Deborah Elizabeth Mustermann in writing that you are making this application?

    </dt>

    <dd class="govuk-summary-list__value">
{{ data['powerReserved'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/deceased-executors.html">Change</a>
    </dd>
    </div>
{%endif %}



<!-- About the applicant section -->

 <h3 class="govuk-heading-s govuk-!-margin-top-9">About you</h3>

   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
First name and any middle names
    </dt>

    <dd class="govuk-summary-list__value">


    {{ data['applicant-firstName'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-name.html">Change</a>
    </dd>
    </div>

       <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
Last name
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['applicant-lastName'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-name.html">Change</a>
    </dd>
    </div>
{%endif %}


<!-- section applicant alias -->

 {% if data['sameName'] %}

   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
Is '{{ data['applicant-firstName'] }} {{ data['applicant-lastName'] }}' exactly how your name is written in the will or any codicils?
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['sameName'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-name_will.html">Change</a>
    </dd>
    </div>


 {% if data['sameName']== 'No' %}

   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
How is your name written in the will or any codicils?
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['applicant-willName'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-alias.html">Change</a>
    </dd>
    </div>

{%endif %}

 {% if data['applicant-aliasReason'] %}

   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
    Why is your name different to how it is written in the will or any codicils?
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['applicant-aliasReason'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-alias_reason.html">Change</a>
    </dd>
    </div>

{%endif %}

{%endif %}

 {% if data['applicant-number'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
   What is your phone number? 
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['applicant-number'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-number.html">Change</a>
    </dd>
    </div>
{%endif %}

 {% if data['applicant-address-postcode'] %}
   <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
   What is your address?
    </dt>

    <dd class="govuk-summary-list__value">
    {{ data['applicant-address-postcode'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="executors/applicant-number.html">Change</a>
    </dd>
    </div>
{%endif %}

  </dl>

  </div>

  
  <!-- Buttons -->


<a href="task-list_complete" role="button" draggable="false" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
  Save and continue
</a>


<p class="govuk-body">
<a href="task-list-1" class="govuk-link govuk-link--no-visited-state">
  Save and close
</a>
</p>




  <details class="govuk-details">

  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Contact us for help
  </span>
  </summary>

  <div class="govuk-details__text">
  <h3 class="govuk-heading-s">Webchat</h3>
    <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
  <h3 class="govuk-heading-s">Telephone</h3>
    <p class="govuk-body">0300 303 0648</p>
  <h3 class="govuk-heading-s">Email</h3>
    <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
  <br>
  <h3 class="govuk-heading-s">Opening times</h3>
  <h3 class="govuk-heading-s">Telephone</h3>
    <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
  <h3 class="govuk-heading-s">Webchat</h3>
    <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
  <br>
  <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
  </div>

  </details>

  </div>
</div>

{% endblock %}