{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
What is your address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="applicant-address_select" method="post" novalidate>

      <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="applicant-address">
            What is your address?
          </label>
        </h1>

        <p class="govuk-body">
          We will send the grant of probate to this address.
        </p>

        <div>
          <label class="govuk-label" for="applicant-address_postcode">
            UK postcode
          </label>
          <input class="govuk-input govuk-!-width-one-quarter" id="applicant-address_postcode" name="applicant-address_postcode" type="text" autocomplete="postal-code" value="{{ data['applicant-address_postcode'] }}">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Find address
          </button>
        </div>

        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Enter an address instead</a>
        </p>

      </div>

      <a href="#" class="govuk-button">
        Save and continue
      </a>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
