{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
Did {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} have any other children? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/other_children-answer" method="post">

      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="other_children-hint">
  
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="other_children">
                Did {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} have any other children?
              </label>
            </h1>

            <p class="govuk-body">We need to know about all children {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} had, including any children who:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>were legally adopted or given up for adoption</li>
                <li>have died, either before or after {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}</li>
              </ul>
            
            <p class="govuk-body">
              This does not include any step-children.
            </p>
    
            <div class="govuk-radios govuk-radios--inline govuk-!-padding-bottom-4" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="other_children" name="other_children" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="other_children">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="other_children-2" name="other_children" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="other_children-2">
                  No
                </label>
              </div>
            </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
