{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s marital status? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/deceased-marital_status-answer" method="post">

      <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="deceased-marital_status">
            What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s marital status?
          </label>
        </h1>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="deceased-marital_status" name="deceased-marital_status" type="radio" value="Married or in a civil partnership">
            <label class="govuk-label govuk-radios__label" for="deceased-marital_status">
              Married or in a civil partnership
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="deceased-marital_statuse-2" name="deceased-marital_status" type="radio" value="Divorced or had ended their civil partnership (also known as a dissolution)">
            <label class="govuk-label govuk-radios__label" for="deceased-marital_status-2">
              Divorced or had ended their civil partnership (also known as a dissolution)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="deceased-marital_status-3" name="deceased-marital_status" type="radio" value="Legally separated (also known as judicially separated)">
            <label class="govuk-label govuk-radios__label" for="deceased-marital_status-3">
              Legally separated (also known as judicially separated)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="deceased-marital_status-4" name="deceased-marital_status" type="radio" value="Widowed or surviving civil partner">
            <label class="govuk-label govuk-radios__label" for="deceased-marital_status-4">
              Widowed or surviving civil partner
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="deceased-marital_status-5" name="deceased-marital_status" type="radio" value="Never married or never in a civil partnership">
            <label class="govuk-label govuk-radios__label" for="deceased-marital_status-5">
              Never married or never in a civil partnership
            </label>
          </div>
        </div>

      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
