
{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
                        
        <div>
            <h1 class="govuk-heading-l">Check your answers</h1>
                    
            <p class="govuk-body">
                Check the information below carefully. This will form a record of your application for probate. It will also be stored as a public record, and will be able to be viewed online.
            </p>

            <h2 class="govuk-heading-m">About the person who died</h2>
            
            <dl class="govuk-summary-list">
    
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular  govuk-!-width-one-half">
                        What is the full name of the person who died?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="deceased-name">Change</a></dd>
                </div>

                <!--
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                      What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s date of birth?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['deceased-DOB-day'] }}/{{ data['deceased-DOB-month'] }}/{{ data['deceased-DOB-year'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="deceased-DOB">Change</a></dd>
                </div>
                -->
            
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                      What was the date that {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }} died?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['deceased-DOD-day'] }}/{{ data['deceased-DOD-month'] }}/{{ data['deceased-DOD-year'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="deceased-DOD">Change</a></dd>
                </div>
        
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s marital status?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['deceased-marital_status'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="deceased-marital_status">Change</a></dd>
                </div>

                {% if data['divorceJurisdiction-answer'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Did the divorce or dissolution take place in England or Wales?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['divorceJurisdiction-answer'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="divorce_jurisdiction">Change</a></dd>
                </div>
                {% endif %}

                {% if data['divorce_date-answer'] === "No, I do not know the date" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Do you know the date the divorce or dissolution took place?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['divorce_date-answer'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="divorce_date">Change</a></dd>
                </div>
                {%endif %}

                {% if data['divorce_date-day'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Date of divorce or dissolution
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['divorce_date-day'] }}/{{ data['divorce_date-month'] }}/{{ data['divorce_date-year'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="divorce_date">Change</a></dd>
                </div>
                {%endif %}

                {% if data['separationJurisdiction-answer'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                      Did the legal separation take place in England or Wales?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['separationJurisdiction-answer'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="separation_jurisdiction">Change</a></dd>
                </div>
                {% endif %}

                {% if data['separation_date-answer'] === "No, I do not know the date" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                      Do you know the date the legal separation took place?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['separation_date-answer'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="separation_date">Change</a></dd>
                </div>
                {%endif %}

                {% if data['separation_date-day'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                      Date of legal separation
                    </dt>
                    <dd class="govuk-summary-list__value">{{ data['separation_date-day'] }}/{{ data['separation_date-month'] }}/{{ data['separation_date-year'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="separation_date">Change</a></dd>
                </div>
                {%endif %}

            </dl>

        </div>
                
            <br>
                
            {% from "govuk/components/button/macro.njk" import govukButton %}

                {{ govukButton({
                  text: "Save and continue",
                  href:"../people_applying/task-list"
                }) }}
            
                <details class="govuk-details">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                      <h3 class="govuk-heading-s">Webchat</h3>
                        <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
                      <h3 class="govuk-heading-s">Telephone</h3>
                        <p class="govuk-body">0300 303 0648</p>
                      <h3 class="govuk-heading-s">Email</h3>
                        <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
                      <br>
                      <h3 class="govuk-heading-s">Opening times</h3>
                      <h3 class="govuk-heading-s">Telephone</h3>
                        <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
                      <h3 class="govuk-heading-s">Webchat</h3>
                        <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
                      <br>
                      <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
                    </div>

                </details>
        
    </div>
</div>

{% endblock %}