{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s date of birth? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="deceased-DOD" method="post" novalidate>

      <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="deceased-DOB">
            What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s date of birth?
          </label>
        </h1>

        <div id="deceased-DOB-hint" class="govuk-hint">
          For example, 30 03 1945
        </div>

        <div class="govuk-date-input" id="deceased-DOB">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="deceased-DOB-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceased-DOB-day" name="deceased-DOB-day" type="text" inputmode="numeric" value="{{ data['deceased-DOB-day'] }}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="deceased-DOB-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceased-DOB-month" name="deceased-DOB-month" type="text" inputmode="numeric" value="{{ data['deceased-DOB-month'] }}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="deceased-DOB-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="deceased-DOB-year" name="deceased-DOB-year" type="text" inputmode="numeric" value="{{ data['deceased-DOB-year'] }}">
            </div>
          </div>
        </div>

      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="../task-list-1.html" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
