{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
What was {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s marital status? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form action="will-timing" method="post" novalidate>



  <h1 class="govuk-heading-l">What is {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s husband's, wife's or civil partner's name?</h1>


  <p class="govuk-body">If they are mentioned in the will or any codicils, enter their name exactly how it is written there.</p>



<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-body" for="dead-spouse-name">
Full name of  {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s husband, wife or civil partner
    </label>
  </h1>



    <!-- <div id="alive-spouse-name-hint" class="govuk-hint">
    If {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}'s husband, wife or civil partner is mentioned in the will or any codicils, enter their name exactly how it is written there.
  </div> -->
   <input class="govuk-input" id="dead-spouse-name" name="deceased spouse name" type="text" value="{{ data['deceased spouse name'] }}">
</div>
</div>

</div>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a href="../task-list-1.html" class="govuk-link govuk-link--no-visited-state">Save and close</a>
      </p>

    </form>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>

      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0300 303 0648</p>
        <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
        <br>
        <h3 class="govuk-heading-s">Opening times</h3>
        <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
        <h3 class="govuk-heading-s">Webchat</h3>
          <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
        <br>
        <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
      </div>
      
    </details>
    
  </div>
</div>

{% endblock %}
