{% extends "layouts/navigation+back-link.html" %}

{% block pageTitle %}
What is {{ data['applicant_3-name'] }}’s relationship to {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/applicant_3-relationship_answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="relationship-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is {{ data['applicant_3-name'] }}’s relationship to {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}?
              </h1>
            </legend>

            <div class="govuk-radios govuk-!-padding-bottom-4" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant_3-relationship" name="applicant_3-relationship" type="radio" value="Child">
                <label class="govuk-label govuk-radios__label" for="applicant_3-relationship">
                  Child
                </label>
              </div>

              {% if data['grandchildren_over_18'] === "Yes" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant_3-relationship" name="applicant_3-relationship" type="radio" value="Grandchild" aria-describedby="applicant_3-relationship-item-hint">
                <label class="govuk-label govuk-radios__label" for="applicant_3-relationship">
                  Grandchild
                </label>
                <div id="applicant_3-relationship-item-hint" class="govuk-hint govuk-radios__hint">
                  This can only be through any of {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}’s children that died before {{ data['deceased-firstName'] }} {{ data['deceased-lastName'] }}
                </div>
              </div>
              {%endif %}
                
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant_3-relationship-2" name="applicant_3-relationship" type="radio" value="Other">
                <label class="govuk-label govuk-radios__label" for="applicant_3-relationship-2">
                  Other
                </label>
              </div>

            </div>

            {{ govukButton({
              text: "Continue"
            }) }}

            <details class="govuk-details">

              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Contact us for help
                </span>
              </summary>
        
              <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Webchat</h3>
                  <p class="govuk-body">Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
                <h3 class="govuk-heading-s">Telephone</h3>
                  <p class="govuk-body">0300 303 0648</p>
                <h3 class="govuk-heading-s">Email</h3>
                  <p class="govuk-body">Email us at <a href="#">contactprobate@justice.gov.uk</a>.</p>
                <br>
                <h3 class="govuk-heading-s">Opening times</h3>
                <h3 class="govuk-heading-s">Telephone</h3>
                  <p class="govuk-body">Monday to Friday, 9am to 1pm</p>
                <h3 class="govuk-heading-s">Webchat</h3>
                  <p class="govuk-body">Monday to Friday, 9am to 5pm</p>
                <br>
                <p class="govuk-body">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
              </div>
              
            </details>
          
          </fieldset>
        </div>

      </form>

    </div>
  </div>

{% endblock %}