{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<!--

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Usability testing
    </h1>

    <p class="govuk-body">
      Please follow the instructions from your user researcher.
    </p>

    <br>

    <p class="govuk-body-l">
      <a href="#" class="govuk-link govuk-link--no-visited-state">Scenario 1</a>
    </p>

    <p class="govuk-body-l">
      <a href="#" class="govuk-link govuk-link--no-visited-state">Scenario 2</a>
    </p>

{% endblock %}
